In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import re

In [103]:
train_data=pd.read_csv('./data/train.csv')
test_data=pd.read_csv('./data/test.csv')

In [104]:
train_data.drop('조식메뉴',axis=1,inplace=True)
test_data.drop('조식메뉴',axis=1,inplace=True)

In [105]:
train_lunch=[]
train_night=[]
for i in train_data['중식메뉴']:
    i=re.sub('\([^)]+\)','',i).replace('  ',' ')
    train_lunch.append(i)
    
for i in train_data['석식메뉴']:
    i=re.sub('\([^)]+\)','',i).replace('  ',' ')
    train_night.append(i)

In [106]:
test_lunch=[]
test_night=[]
for i in test_data['중식메뉴']:
    i=re.sub('\([^)]+\)','',i).replace('  ',' ')
    test_lunch.append(i)
    
for i in test_data['석식메뉴']:
    i=re.sub('\([^)]+\)','',i).replace('  ',' ')
    test_night.append(i)

In [107]:
train_lunch_=[]
for i in range(len(train_data)):
    li_=[]
    li=train_lunch[i].split( )
    for j in li:
        if '쌀밥' in j:
            li_.append('밥')
        elif '현미밥' in j:
            li_.append('밥')
        elif '흑미밥' in j:
            li_.append('밥')
        elif '수수밥' in j:
            li_.append('밥')
        elif '귀리밥' in j:
            li_.append('밥')
        elif '찰현미밥' in j:
            li_.append('밥')
        elif '오곡밥' in j:
            li_.append('밥')
        elif '오곡밥' in j:
            li_.append('밥')
        else:
            li_.append(j)
    train_lunch_.append(li_)

In [108]:
test_night_=[]
for i in range(len(test_data)):
    li_=[]
    li=test_night[i].split( )
    for j in li:
        if '쌀밥' in j:
            li_.append('밥')
        elif '현미밥' in j:
            li_.append('밥')
        elif '흑미밥' in j:
            li_.append('밥')
        elif '수수밥' in j:
            li_.append('밥')
        elif '귀리밥' in j:
            li_.append('밥')
        elif '찰현미밥' in j:
            li_.append('밥')
        elif '오곡밥' in j:
            li_.append('밥')
        elif '오곡밥' in j:
            li_.append('밥')
        else:
            li_.append(j)
    test_night_.append(li_)

In [109]:
train_d=pd.DataFrame(train_lunch_)
test_d=pd.DataFrame(test_night_)

In [111]:
train_d=train_d.iloc[:,:3]
test_d=test_d.iloc[:,:3]

In [112]:
train_d = train_d.rename(columns={0: '밥', 1: '국',2:'메인'})
test_d = test_d.rename(columns={0: '밥', 1: '국',2:'메인'})

In [113]:
cat_features = ['밥','국','메인']
for i in enumerate (cat_features):
    ca = i[1]
    train_d[ca] = train_d[ca].astype('category')

In [114]:
cat_features = ['밥','국','메인']
for i in enumerate (cat_features):
    ca = i[1]
    test_d[ca] = test_d[ca].astype('category')

In [115]:
train=train_data.iloc[:,:-1]
test=test_data.iloc[:,:-1]

In [117]:
train=train.drop(['본사시간외근무명령서승인건수','석식메뉴'],axis=1)
test=test.drop(['본사시간외근무명령서승인건수'],axis=1)

In [118]:
train.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,현본사소속재택근무자수,중식메뉴,중식계
0,2016-02-01,월,2601,50,150,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...",1039.0
1,2016-02-02,화,2601,50,173,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...",867.0
2,2016-02-03,수,2601,56,180,0.0,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...",1017.0
3,2016-02-04,목,2601,104,220,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...",978.0
4,2016-02-05,금,2601,278,181,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...",925.0

In [119]:
test.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,현본사소속재택근무자수,중식메뉴
0,2021-01-27,수,2983,88,182,358.0,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...
1,2021-01-28,목,2983,104,212,348.0,쌀밥/보리밥/찰현미밥 우렁된장찌개 오리주물럭 청양부추전 수제삼색무쌈 겉절이김치 양상...
2,2021-01-29,금,2983,270,249,294.0,쌀밥/흑미밥/찰현미밥 팽이장국 수제돈까스*소스 가자미조림 동초나물무침 포기김치 양상...
3,2021-02-01,월,2924,108,154,322.0,쌀밥/흑미밥/찰현미밥 배추들깨국 오리대패불고기 시금치프리타타 부추고추장무침 포기김치...
4,2021-02-02,화,2924,62,186,314.0,쌀밥/팥밥/찰현미밥 부대찌개 닭살데리야끼조림 버섯탕수 세발나물무침 알타리김치/사과푸...

In [120]:
train=pd.concat([train,train_d],axis=1)
test=pd.concat([test,test_d],axis=1)

In [124]:
test.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,현본사소속재택근무자수,중식메뉴,밥,국,메인
0,2021-01-27,수,2983,88,182,358.0,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...,밥,얼큰순두부찌개,쇠고기우엉볶음
1,2021-01-28,목,2983,104,212,348.0,쌀밥/보리밥/찰현미밥 우렁된장찌개 오리주물럭 청양부추전 수제삼색무쌈 겉절이김치 양상...,충무김밥,우동국물,오징어무침
2,2021-01-29,금,2983,270,249,294.0,쌀밥/흑미밥/찰현미밥 팽이장국 수제돈까스*소스 가자미조림 동초나물무침 포기김치 양상...,밥,물만둣국,카레찜닭
3,2021-02-01,월,2924,108,154,322.0,쌀밥/흑미밥/찰현미밥 배추들깨국 오리대패불고기 시금치프리타타 부추고추장무침 포기김치...,밥,동태탕,돈육꽈리고추장조림
4,2021-02-02,화,2924,62,186,314.0,쌀밥/팥밥/찰현미밥 부대찌개 닭살데리야끼조림 버섯탕수 세발나물무침 알타리김치/사과푸...,밥,바지락살국,쇠고기청경채볶음

In [127]:
train=train.drop(['중식메뉴'],axis=1)
test=test.drop(['중식메뉴'],axis=1)

In [133]:
train=train[['일자','요일','본사정원수','본사휴가자수','본사출장자수','현본사소속재택근무자수','밥','국','메인','중식계']]

In [134]:
train.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,현본사소속재택근무자수,밥,국,메인,중식계
0,2016-02-01,월,2601,50,150,0.0,밥,오징어찌개,쇠불고기,1039.0
1,2016-02-02,화,2601,50,173,0.0,밥,김치찌개,가자미튀김,867.0
2,2016-02-03,수,2601,56,180,0.0,카레덮밥,팽이장국,치킨핑거,1017.0
3,2016-02-04,목,2601,104,220,0.0,밥,쇠고기무국,주꾸미볶음,978.0
4,2016-02-05,금,2601,278,181,0.0,밥,떡국,돈육씨앗강정,925.0

In [135]:
test.head()

           일자 요일  본사정원수  본사휴가자수  본사출장자수  현본사소속재택근무자수     밥        국         메인
0  2021-01-27  수   2983      88     182        358.0     밥  얼큰순두부찌개    쇠고기우엉볶음
1  2021-01-28  목   2983     104     212        348.0  충무김밥     우동국물      오징어무침
2  2021-01-29  금   2983     270     249        294.0     밥     물만둣국       카레찜닭
3  2021-02-01  월   2924     108     154        322.0     밥      동태탕  돈육꽈리고추장조림
4  2021-02-02  화   2924      62     186        314.0     밥    바지락살국   쇠고기청경채볶음

In [136]:
train.to_csv("train_.csv")
test.to_csv("test_.csv")

In [145]:
train[train['국'].isnull()]

,일자,요일,본사정원수,본사휴가자수,본사출장자수,현본사소속재택근무자수,밥,국,메인,중식계
1003,2020-03-11,수,2950,74,197,23.0,카레라이스,NaN,NaN,967.0

In [152]:
train_data.iloc[1003][7]

'카레라이스 (쌀:국내산,돈육:국내 미소시루  감자만두*양념  애기새송이버섯볶음  골뱅이야채무침  포기김치 (김치:국내산) '